body, html
{
	height: 100%;
}
#topbar
{
	height: 70px;
}
header
{
	position: fixed;
	background: #3e606f;
	width: 100%;
	height: 70px;
	margin-top:0px;
}
header a
{
	text-decoration: none;
	color: #e6e2af;
}
header h1
{
	font-family: 'Lily Script One';
	font-size: 30px;
	margin: 20px 0 20px 20px;
}
#works
{
	position:absolute;
	right:0;
	bottom:0;
	margin: 20px 0 20px 20px;
}
#works ul li 
{
	float: left;
	padding: 3px 15px;
	font-family: 'Quattrocento';
}
.rowspacer
{
	display: table-row;
}
#intro 
{
	background: #e6e2af;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
#intro #me
{
	padding-bottom: 25px;
}
/*#intro #arrow
{
	float: right;
	margin-top: -150px;
	margin-right: 100px;
}*/
#intro p
{
	font-family: 'Lily Script One';
	font-size: 48px;
	color: #193441;
}

#about
{
	background: #193441;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.paraspacer
{
	padding-top: 120px;
}
#about p
{
	font-family: 'Quattrocento';
	font-size: 40px;
	color: #e6e2af;
}
.projectdesc
{
	width:70%;
	margin:0 auto;
}
.oddproject
{
	background: #e6e2af;
	display: table-cell;
	vertical-align: middle;
}
.oddproject h2
{
	font-family: 'Lily Script One';
	font-size: 40px;
	color: #193441;
	padding-bottom: 50px;
}
.oddproject p
{
	font-family: 'Quattrocento';
	font-size: 24px;
	color: #193441;
	width: 300px;
	text-align: left;
	float: left;
}
.oddprojectimg 
{
	margin-top: -100px;
	float: right;
}
.evenproject
{
	background: #193441;
	display: table-cell;
	vertical-align: middle;	
}
.evenproject h2
{
	font-family: 'Lily Script One';
	font-size: 40px;
	color: #e6e2af;
	padding-bottom: 50px;
	text-align: right;
}
.evenproject p
{
	font-family: 'Quattrocento';
	font-size: 24px;
	color: #e6e2af;
	text-align: right;
	width: 300px;
	float:right;
}
.evenprojectimg 
{
	margin-top: -100px;
	float: left;
}